<div class="container">

    <p>Here you can modify your existing profile</p>
  
    <form method="post" id="form_correction">

         <div class="name-field">

      <label for="first">First name:</label>
      <input type="text" value="{{result.first}}" name="first" id="first" /></br>
      <label for="last">Last name:</label>
      <input type="text" value="{{result.last}}" name="last" id="last" /></br>

      <label for="email">E-mail:</label>
      <input type="text" value="{{result.email}}" name="email" id="email" /></br>
      <label for="password">Password:</label>
      <input type="password" value="" name="password" id="password" /></br>
      <label for="homepge">Homepage:</label>
      <input type="text" value="{{result.url}}" name="homepage" id="homepage" />
      <label for="city">City:</label>
      <input type="text" value="{{result.city}}" name="city" id="city" />
      <label for="age">Age:</label>
      <input type="number" value="{{result.age}}" name="age" id="age" min="15" max="200" />
       <input id="submit" type="submit" value="Modify" class="btn"  /></br>

       <p>You can go back to the signers page by clicking <a href="/signers">here</a></p>

       </div>

   </form>
  
</div>