<div class="container">
  <h1>We are all on the same page here </h1>
  <h2>Your voice matters.</h2>
  <p>The petition was signed by:</p>
  <ul>

    {{#signers}}
      <li>
        <p class="signer">{{#if url}}<a href="{{url}}">{{first}}
              {{last}}</a>{{else}}{{first}} {{last}}{{/if}}
          {{age}}
          <a href="/signers/{{city}}">{{city}}</a>
        </p>
      </li>
    {{/signers}}

  </ul>
  <hr />
  <p class="small-text"><a href="./logout">Logout</a></p>
</div>